/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
/* === fontawesome === */
@import url('font-awesome.css');


/*--------------------------------------------------------------------------
	General Style
--------------------------------------------------------------------------*/
html, body {
  height: 100%;
}
body {
	background: url(../images/page-background.png);
} 

.section {
  padding: 30px 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.section .container:first-child h1,
.section .container:first-child h2,
.section .container:first-child h3 {
  margin-top: 0;
  font-weight: 700;
}

.forge-border-top {
	border-top-width: 1px;
	border-top-style: solid;
}

.forge-right-pad {
	padding-right: 15px;
}
/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #535b60;
}
h1 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h2 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin: 30px 0;
  padding-left: 10px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  color: #53555c;
  font-size: 1.5em;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  color: #53555c;
  margin-bottom: 10px;
}

.btn-begin {
    background-color: #183B79;
    border-radius: 0.2em;
    padding: 20px;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.btn-forge-white {
    margin-bottom: 10px;
    border: 2px solid #000;
    background: none repeat scroll 0px 0px transparent;
    color: #FFF;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-family: 'Open Sans',Verdana,Helvetica,sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out 0s;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
} 

#btn-apply {
    padding: 6px 12px;
    background: none repeat scroll 0% 0% #EDF6F6;
    margin-left: 30px;
}


/*--------------------------------------------------------------------------
+	Main Menu Style
--------------------------------------------------------------------------*/
.mainmenu li.logo-wrapper a {
  border-right: 1px solid #E8E8E8;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.mainmenu-wrapper {
  background-color: #FFF;
  border-bottom: 4px solid #4f8db3;
  z-index: 4;
}
.mainmenu {
  width: 100%;
  
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mainmenu > ul,
.mainmenu > ul > li {
  display: inline-block;
  *display: inline;
}
.mainmenu > ul > li > a {
  font-size: 1.2em;
  padding: 1.2em 1.5em;
  color: #999;
  display: inline-block;
  text-decoration: none;
}
.mainmenu > ul > li > a:hover {
  color: #4f8db3;
  text-decoration: none;
}
.mainmenu > ul > li.active > a {
  color: #4f8db3;
  font-weight: 600 !important;
}

.mainmenu #apply-but {

}

@media screen and (max-width: 979px) {
  .mainmenu {
    font-size: 0.8em;
  }
 
}
@media screen and (max-width: 479px) {
  .mainmenu {
    font-size: 120%;
    border: none;
  }
  .mainmenu > ul {
    width: 100%;
    padding: 0;
  }
  
  .mainmenu > ul > li {
    display: block;
    border-bottom: 4px solid #47a3da;
  }
  .mainmenu > ul > li > a {
    display: block;
    padding: 1em 3em;
  }
  .mainmenu > ul > li:last-child {
    border: none;
  }
  
}

/*===========================
  --- Featured section ----
=========================== */

section.featured {
  padding: 90px 0px;
	background: #16a085;
	color: #70B9B0;
  height: 90%;
}

@media screen and (max-width: 479px) {
  section.featured {
    padding-top: 0;
  }
  section.featured h2.slogan {
    font-size: 30px;
    font-weight: 400;
  }
}

@media (max-width: 479px) and (orientation: landscape) {
  section.featured {
    padding-top: 0;
  }
  section.featured h2.slogan {
    font-size: 40px;
  }
}

section.featured h2.slogan {
	color: #fff;
	font-size: 60px;
	font-weight: 900;
}

section.featured h2 {
	border-bottom: 0px;
}

section.featured p {
  color: #F6EEEE;
}

.align-center {
    text-align: center;
}

/*===========================
  --- Banner section ----
=========================== */
.banner {
  padding: 105px 0px;
  background: #16a085;
  color: #FFF;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.heading {
  color: #FFF;
  font-size: 3em;
  line-height: 1.2em;
}


/*--------------------------------------------------------------------------
+ Section Style
--------------------------------------------------------------------------*/
.forge-section-head {
  background: #F6F8F8;
/*   background: rgb(246, 248, 248);
   */  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #DADFE1;
  
}
.forge-section-head h1 {
  color: #788991;
  font-size: 1.6em;
  margin-bottom: 0;
  text-transform: none;
}

#section-about {
  background-color: #fff;
}

#section-about .thumbnail {
  border-width: 0px;
  box-shadow: 0px 0px 0px 0px;
}

.faq h5 {
  font-weight: 900;
  font-size: 1.3em;
  line-height: 1.5;
}

.faq p {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5;
}
.program a{
  color: #4B606C;
  
}

.program {
  padding: 20px 0;
}
.program p {
  font-weight: 300;
  line-height: 35.9991px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #4B606C;
}

.program h1 {
  color: #4B606C;
}

.program-title {
  text-align: center;
  margin: 0;
  padding: 10px 0px;
  background-color: #F6F5F3;
}

.learn {
  background-color: #4B606C;
}

.learn h1 {
  color: #FFF;
}

.learn p {
  color: #FFF;
  font-weight: 300;
  line-height: 35.9991px;
  margin-bottom: 20px;
  font-size: 24px;
}

.teach {
  padding-top: 40px;
}

.teach label{
  font-weight: 700;
  font-size: 20px;
  color: #999;

}

.teach p {
  font-weight: 400;
  line-height: 34px;
  font-size: 20px;
}

.phase-two {
  background-color: #ffffff;
}

.phase-three , .phase-one{
  background-color: #F6F6F6;
}



/*--------------------------------------------------------------------------
+ form Style
--------------------------------------------------------------------------*/
.forge-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 20px 10px 20px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  color: inset 0 1px #fff,0 0 4px #c8cfe6;
}

input.medium {
	width: 50%;
}

input.third {
	width: 70%;
}

/*--------------------------------------------------------------------------
	Footer Style
--------------------------------------------------------------------------*/
.footer {
  background: #222;
  color: #A0A0A0;
  padding: 40px 20px 10px 20px;
  border-top: 4px solid #4f8db3;
  margin-top: 0px;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
}

footer ul {
    border-left: 1px solid #466294;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 40px;
    font-size: 18px;
    font-weight: 400;
}

footer ul li {
	margin-bottom: 10px;
}

.footer-copyright {
  text-align: center;
  color: #7C7C7C;
  border-top: 1px dotted #7C7C7C;
  padding-top: 10px;
  font-size: 0.9em;
}

.social {

}

/*--------------------------------------------------------------------------
	FAQ Style
--------------------------------------------------------------------------*/
.faq {
	background: #fff;
	margin-top: -10px;
}