{% extends 'apply.html' %}

{% block title %} faq {% endblock title %}

{% block heading %} Frequently Asked Questions {% endblock heading %}

{% block body %}
<section class="faq">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h5>What is <code>FORGE</code>?</h5>
				<p>
					<code>FORGE</code> is the place where rare hackers are <code>FORGE</code>D! It is an intense anvil on which only the brave and best are born, crafted and carefully <code>FORGE</code>d into immaculate hacking species. Three months is just the beginning of the new and better you. If you go back the same then we have failed. We will pay you for the three months of your life’s worth.
				</p>
				<h5>Why should I go to <code>FORGE</code>?</h5>
				<p>
					You don’t have to go to <code>FORGE</code> unless you are an exceptional person, driven, intelligent and determined to make a difference with your life: a difference women will sing about and dance at full moons, parents will name their children after you, and children will read about in school. If you are not that kind, then go on and live your sorry life. We are in the business of making history. Now move over!

					But if you are then <a href="{{ url_for('apply') }}">prove it</a>.

				</p>
				<h5>What are the pre-requisites?</h5>
				<p>
					First of all you should be insane. Insane enough to believe that your can transform your life in 3 months. Second you should be hungry and foolish. So hungry that you will make the most of any given chance and will beat your best performance ever. And be foolish enough to commit your life to that end. Thirdly, you should have evidence to prove you really want this: have an okay programming knowledge.

				</p>
				<h5>I don't have any programming experience can I apply?</h5>
				<p>No. You can start learning to program now and apply again after at least 3 months doing so.</p>

				<h5>What will I learn at <code>FORGE</code>?</h5>
				<p>
					<code>FORGE</code> is primarily self-regulated learning so maybe you should tell us. But we have an idea of the kind of programmer you'd become after <code>FORGE</code>. It's generally what great hackers are.
				</p>

				<h5>How much does it cost?</h5>
				<p>
					All good things are free: air, sunlight, water, life and <code>FORGE</code>!
				</p>
				<h5>Do you provide accommodation and food?</h5>
				<p>
					We hope you are not homeless (although that is not a prerequisite). We have no accommodation arrangements at the moment. But that will soon be a thing of the past. We want to rule your entire life so we will give accommodation in the near future. But feel free to talk to us about it. We will do our best to help.
				</p>
				<h5>How long is <code>FORGE</code>?</h5>
				<p>
					Just enough time for you to survive. 3 months: Day. Night. Weekend.
				</p>
				<h5>What kind of projects will I work on?</h5>
				<p>
					Anything you are passionate about. But it better make sense and prove value for humanity. Else, keep digging till you come up with one.
				</p>

				<h5>Can I do less than 12 weeks</h5>
				<p>No.</p>

				<h5>Can I do this part-time?</h5>
				<p>
					<code>FORGE</code> is a full-time program.
				</p>
				<h5>Will I have to bring my own laptop?</h5>
				<p>
					Yes, and you should have an operating system already installed. Even better if you set it up with your favorite text editors, IDEs, and programming language compilers and VMs.
				</p>
				<h5>How many hours will I commit a day?</h5>
				<p>
					<code>FORGE</code> is as full-time as full-time job so expect to commit at least 8 hours per day for 5 days a week. It doesn't mean 8 hours of continuous instruction. No. We believe that (too much) classes will destroy any potential for authentic creativity so we've reduced the number of lecture sessions per week to only specific days and a total of about 5 hours.
				</p>
				<h5>What happens after <code>FORGE</code>?</h5>
				<p>
					Hard labour! <code>FORGE</code>! is no play ground. It is a life and death matter. In 3 months, we are going to transform you into a world class programmer. That should give you a clue. We will drive you. Push you beyond your limits, challenge all your assumptions and best efforts, we will destroy your comfort zone. We will own you for 3 months. Your life will not be the same.

				</p>
				<h5>Is <code>FORGE</code> an accredited educational institute?</h5>
				<p>Umm, no. And honestly we'd never be! We think accredition adds unnecessary pressure and useless recognition. We also believe our accreditation will come by virtue of the value we'd provide and the fine quality performance you'd render after going through the program.
				</p>

				<h5>Will get a certificate after the programme?</h5>
				<p>
					Even though we also think <a href="https://blog.jcoglan.com/2013/11/15/why-github-is-not-your-cv/">Github is not your CV</a>, we
					don't subscribe to that fully. Throughout your time at <code>FORGE</code> you'd work on a lot of project (both open and closed source) that interest you. You'd also have a very active blog documenting your everyday progress during <code>FORGE</code>.
					These 2 (<a href="https://github.com">Github</a> and your blogposts) will be your external evidence your skills.<br> So no, we don't award certificates. You should concentrate on building an almost irresistible portfolio.
				</p>

				<h5>Can you guarantee that I will get a job after <code>FORGE</code>?</h5>
				<p>
					Even though <code>FORGE</code> only makes money off of you when you successfully land a job after the program, we can't guarantee job placement. We encourage you to entertain recruiters who would contact you during any period of the program. Don't postpone until the final lap before you start searching for a job.<br> We'd also invite a lot of potential employers during the course of the program to interact with you, passively assess you. Be assured though that we'd work our butts off, together with you, to get you a well paying job. Because that's the only way we make money.
				</p>

				<h5>What is the hacker's creed?</h5>
				<p style="font-style: italic;">
					I am a hacker. It doesn’t mean I am a criminal or that I use my computer superpowers for evil.

					It means I continuously apply myself to learning and creating value with the computer as my primary tool. I never quit. I embrace challenges. I seek out problems and make them sorry. I go out of my way to provide elegant and jaw-dropping solutions to problems of significance. This is how I was <code>FORGE</code>d: through blood, sweat and tears I earn my hacker’s crest.

					I am a hacker. I am thus <code>FORGE</code>d!

				</p>
			</div>
		</div>
	</div>
</section>

{% endblock body %}
