{% extends 'apply.html' %}

{% block title %} The Program {% endblock title %}

{% block heading %} The Program {% endblock heading %}

{% block body %}
<h1 class="program-title">
				Twelve weeks of intensive learning
			</h1>
<section class="program phase-one">
	
	<div class="container">
		<div class="row">
			
			<div class="col-md-4">
				<img src="{{ url_for('static', filename='images/week1-6_transparent.png') }}">
			</div>
			<div class="col-md-8">
				<p>
				Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus. 
				</p>
			</div>
		</div>
	</div>
</section>
<section class="program phase-two">
	<div class="container">
		<div class="row">
			
			<div class="col-md-4">
				<img src="{{ url_for('static', filename='images/week7-10_transparent.png') }}">
			</div>
			<div class="col-md-8">
				<p>
				Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus. 
				</p>
			</div>
		</div>
	</div>
</section>
<section class="program phase-three">
	<div class="container">
		<div class="row">
			
			<div class="col-md-4">
				<img src="{{ url_for('static', filename='images/week11-12_transparent.png') }}">
			</div>
			<div class="col-md-8">
				<p>
				Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus. 
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock body %}